
@font-face {
    font-family: GothamPro;
    src: url(../fonts/GothamPro-Bold.eot);
    src: url(../fonts/GothamPro-Bold.woff2) format("woff2"),url(../fonts/GothamPro-Bold.woff) format("woff"),url(../fonts/GothamPro-Bold.ttf) format("truetype"),url(../fonts/GothamPro-Bold.svg#GothamPro-Bold) format("svg"),url(../fonts/GothamPro-Bold.eot?#iefix) format("embedded-opentype");
    font-weight: 600;
    font-style: normal
  }

  @font-face {
    font-family: GothamPro;
    src: url(../fonts/GothamPro.eot);
    src: url(../fonts/GothamPro.woff2) format("woff2"),url(../fonts/GothamPro.woff) format("woff"),url(../fonts/GothamPro.ttf) format("truetype"),url(../fonts/GothamPro.svg#GothamPro) format("svg"),url(../fonts/GothamPro.eot?#iefix) format("embedded-opentype");
    font-weight: 300;
    font-style: normal
  }

  @font-face {
    font-family: GothamPro;
    src: url(../fonts/GothamPro-Light.eot);
    src: url(../fonts/GothamPro-Light.woff2) format("woff2"),url(../fonts/GothamPro-Light.woff) format("woff"),url(../fonts/GothamPro-Light.ttf) format("truetype"),url(../fonts/GothamPro-Light.svg#GothamPro) format("svg"),url(../fonts/GothamPro-Light.eot?#iefix) format("embedded-opentype");
    font-weight: 200;
    font-style: normal
  }

/* #E6EBF4; */
.firstsectionlogin {
    background: #E6EBF4;
    background-repeat: no-repeat;
    background-position-x: center;
}
.h11{
    padding-top: 6rem;
    font-weight: 300;
    font-family: 'GothamPro';
    font-size: 24px;
    line-height: 34px;
    /* or 142% */
    text-align: center;
    letter-spacing: 0.01em;
    color: #333333;
}
.hh11{
    padding-top: 2rem;
    font-weight: 300;
    font-family: 'GothamPro';
    font-size: 24px;
    line-height: 34px;
    /* or 142% */
    text-align: center;
    letter-spacing: 0.01em;
    color: #333333; 
}
.sign3 {
    padding-top: 1rem;
    font-weight: 300;
    font-family: 'GothamPro';
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.01em;
    color: #333333;
    text-align: center;
    /* margin-left: 29%; */
    margin: auto;
}
.signss{
    padding-top: 1rem;
    font-weight: 300;
    font-family: 'GothamPro';
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.01em;
    color: #333333;
    text-align: center;
}
.shiftcenter{
    justify-content: center;
}
.sign4 {
    padding-top: 4rem;
    font-weight: 300;
    font-family: 'GothamPro';
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.01em;
    color: #333333;
    text-align: center;
    /* margin-left: 29%; */
    margin: auto;
}
.hh1{
    padding-top: 6rem;
    font-weight: 300;
    font-family: 'GothamPro';
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #333333;    
}
.h12{
    padding-top: 6rem;
    font-weight: 300;
    font-family: 'GothamPro';
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.01em;
    color: #333333;
    text-align: center;
    /* margin-left: 29%;     */
    margin: auto;
}
.h122{
    padding: 20px;
    margin: auto;
}
.h123{
    padding-top: 2rem;
    font-weight: 300;
    font-family: 'GothamPro';
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0.01em;
    color: #333333;
    text-align: center;
    /* margin-left: 29%;     */
    margin: auto;
}
.h1111{
    padding-top: .2rem;
    padding-left: 1rem;
    font-weight: 300;
    font-family: 'GothamPro';
    font-size: 15px;
    line-height: 34px;
    letter-spacing: 0.01em;
    color: #333333;
    text-align: left;
    /* margin-left: 29%;     */
    margin: auto;
}
.signin1{
    background: #F58633;
    border-radius: 5px;
    color: #ffffff;
    font-style: normal;
    font-size: 18px;
    line-height: 19px;
    border: none;
    padding: 1rem 5rem;
}
.signin2{
    border-radius: 5px;
    color: #ffffff;
    font-style: normal;
    font-size: 18px;
    line-height: 19px;
    border: none;
    padding: 1rem 5rem;
    background: #C4C4C4;
}
.signin2:focus{
    outline: none;
}
.signin1:focus{
    outline: none;
}
.fb11{
    padding-right: .4rem;
}
.offsetmiddle{
    margin: auto;
}
.boldtext{
    font-weight: 600;
}
.planitem1{
    font-size: 30px;
    line-height: 30px;
    /* identical to box height, or 75% */
    text-align: center;
    letter-spacing: 0.01em;
    color: #F58633;
}
.planwrapper{
    display: flex;
    justify-content: space-between;
}
.h1233{
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    font-weight: 300;
    font-family: 'GothamPro';
    font-size: 24px;
    line-height: 34px;
    /* or 142% */
    text-align: center;
    margin: auto;
    background: #ffffff;
    margin-top: 2rem;
    letter-spacing: 0.01em;
    box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}
.textbtm{
    font-size: 14px;
    line-height: 34px;
    padding-bottom: 0px;
    /* identical to box height, or 243% */
    text-align: left;
    letter-spacing: 0.01em;
    color: #57565C;
}
.agreement {
    font-size: 14px;
    padding-top: 1rem;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.01em;
    color: #57565C;
}

.formcheckbox{
    position: absolute;
    left: -1rem;
}
.securedwrapper{
    background: #0B5EDB;
    justify-content: space-between;
    padding: 4px;
}
.mastercard{
    width: 38.64px;
    height: 30px;
}
.visa{
    width: 73.91px;
    height: 30px;
}
.verve{
    width: 86.33px;
    height: 30px;
}
.secpaywrapper{
    margin-top: 1rem;
    font-size: 9px;
    font-weight: 200;
    letter-spacing: 0.01em;
    background: #FFFFFF;
    border: 1px solid #0B5EDB;
    box-sizing: border-box;
    border-radius: 2px;
    position: relative;
    top: .3rem;
    text-align: center;
}
.firstbannercp{
    height: 440px;
    background-size: contain;
    background-repeat: round;
    background-image: url('../assets/firstbanner.png');
}
.firstbannercpnew{
    height: 440px;
    background-size: contain;
    background-repeat: round;
    background-image: url('../assets/selectfromourplan.png');
}
.firsttextcp{
    font-size: 60px;
    line-height: 80px;
    /* or 133% */
    text-align: right;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: 48%;
    padding-right: 4rem;
    padding-top: 7rem;
}
.firstheadercp{
    padding: 3rem 10rem;
    font-family: Gotham;
    line-height: 34px;
    /* identical to box height, or 142% */
    letter-spacing: 0.01em;
    color: #333333;
}
.firstheadercp1{
    padding: 2rem 10rem;
    font-family: Gotham;
    line-height: 34px;
    /* identical to box height, or 142% */
    letter-spacing: 0.01em;
    color: #333333;
}
.firstcustomplan{
    font-style: normal;
    font-weight: bold;
    font-family: 'GothamPro';
    font-size: 20px;
}
.secondcustomplan{
    background: #F58633;
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    font-size: 18px;
    padding: 1rem 1rem;
    font-weight: 300;
    font-family: 'GothamPro';
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
.hidetext{
    opacity: 1;
}
.fooditemwrapper{
    background: #FFFFFF;
    flex: 1 auto;
    text-align: left;
    margin-right: 3px;
    box-shadow: 0px 4px 30px #C4C4C4;   
    border-radius: 2px;
    margin-bottom: 0.3rem;
    cursor: pointer;
    max-width: 172px;
}

.P0{
    padding-right: 0px;
}
.pr{

}
.l0{
    padding-left: 0px;
}
.foodname{
    max-height: 61px;
    padding: 7px 5px;
    font-weight: 300;
    font-family: 'GothamPro';
    max-width: 172px;
    line-height: 1;
    width: 100%;
    height: 54px;
}
.flexthisdiv{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.sidetext-cp{
    padding-top: 1rem;
    background: #FFFFFF;
    box-shadow: 0px 2px 30px rgba(87, 86, 92, 0.1);
    min-height: 28rem;
    padding-left: 1rem;
    padding-right: .4rem;
    position: relative;
    left: 20px;
    font-size: 12px;
    line-height: 20px;
    /* or 167% */
    letter-spacing: 0.01em;
    color: #57565C;
}
.addpad{
    padding-left: 0px;
    padding-right: 2px;
    max-width: 168px;
}
.pr22{
    padding-right: 7px;
}
.mrgn{
    position: relative;
    left: 9px;
}
.selectplanrow{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.2);
}
.plan1{
    background: #F58633;
    font-family: 'GothamPro';
    padding-right: 10rem;
    padding-left: 1rem;
    padding-top: .5rem;
    font-weight: 300;
    padding-bottom: .5rem;
    font-style: normal;
    font-size: 18px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    cursor: pointer;
}
.plandate{
    background: #F58633;
    font-family: 'GothamPro';
    padding-right: 2rem;
    padding-left: 1rem;
    padding-top: .5rem;
    font-weight: 300;
    padding-bottom: .5rem;
    font-style: normal;
    font-size: 18px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    cursor: pointer;
}

.shift11{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1rem;
}
.activeSelection{
    border: 1px solid #F58633;
    box-sizing: border-box;
    box-shadow: 0px 4px 30px #FF9801;
}
@media(max-width:440px){
   
    .firstsectionlogin {
        padding-bottom: 1rem;
    }
    .firsttextcp{
        margin-left: 1px
    }
    .firsthead111 {
        padding: 1rem;
   }
   .firsthead112 {
   padding: 1rem;
   }
   .firstheadercp1 {
       padding: 1rem;
   }
   .firsttextcp{
       margin-left: 1px
   }
   .firstheadercp {
       padding: 3rem 2rem;
   }
   .firstheadercp1 {
       padding: 2rem 2rem;
   }
   .mrgn {
       display: none;
   }
   .fooditemwrapper {
       max-width: 174px;
   }
   .sidetext-cp{
       display: none;
   }
}